.home-page {
    background: url(../images/homepage-bg.png) center;
    background-size: cover;
}

.home-page-container {
    text-align: center;
    flex-direction: column;
    height: 100dvh;
    backdrop-filter: blur(2px);
    justify-content: center;
}

.home-page-container .title {
    font-size: 6rem;

}

.home-page-container .title,
.home-page-container .title span {
    font-family: var(--main-title-font);
    display: block;
    line-height: 5.2rem;
}

.home-page-container .description {
    letter-spacing: .02rem;
    font-size: .9rem;
    font-weight: var(--medium-font);
    margin-top: .9rem;
}

.home-page span {
    color: var(--light-main-color);
}

.big-font {
    font-size: 2.3rem;
}

@media(min-width: 350px) {
    .home-page-container .title {
        font-size: 6.8rem;
    }

    .home-page-container .description {
        font-size: 1rem;
        margin-top: .5rem;
    }

    .big-font {
        font-size: 2.6rem;
        display: block;
    }
}

@media(min-width: 420px) {
    .home-page-container .title {
        font-size: 7rem;
        line-height: 7.2rem;
    }

    .home-page-container .description {
        font-size: .9rem;
    }

    .big-font {
        font-size: 3rem;
    }
}

@media(min-width: 620px) {
    .home-page-container .title {
        font-size: 7.7rem;
    }

    .home-page-container .title,
    .home-page-container .title span {
        display: inline;
    }

    .home-page-container .title span {
        margin-right: 1.2rem;
    }

    .home-page-container .description,
    .big-font {
        font-size: 1.1rem;
    }

    .big-font {
        display: inline;
    }

    .home-page-container .description {
        margin-top: 0rem;
    }
}

@media(min-width: 920px) {
    .home-page-container {
        padding: 7rem 4.5rem
    }

    .home-page-container .title {
        font-size: 11.4rem;
    }

    .home-page-container {
        align-items: center;
    }

    .home-page-container .description {
        margin-top: 1.4rem;
    }

    .home-page-container .description,
    .big-font {
        width: 84%;
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}