.home-page {
    background: url(../images/homepage-bg.png) center;
    background-size: cover;
}

.home-page-container {
    text-align: center;
    flex-direction: column;
    height: 100dvh;
    backdrop-filter: blur(2px);
    justify-content: center;
}

.home-page-container .title {
    font-size: 6rem;
    line-height: 5.2rem;
}

.home-page-container .title,
.home-page-container .title span {
    font-family: var(--main-title-font);
}

.home-page-container .description {
    letter-spacing: .02rem;
    font-size: .9rem;
    font-weight: var(--medium-font);
    margin-top: 1.4rem;
}

.home-page span {
    color: var(--light-main-color);
}

.big-font {
    font-size: 2.3rem;
}

@media(min-width: 350px) {
    .home-page-container .title {
        font-size: 6.8rem;
    }

    .home-page-container .description {
        font-size: 1rem;
    }

    .big-font {
        font-size: 2.6rem;
        display: block;
    }
}

@media(min-width: 420px) {
    .home-page-container .title {
        font-size: 8rem;
        line-height: 7.2rem;
    }

    .home-page-container .description {
        font-size: 1.1rem;
    }

    .big-font {
        font-size: 3rem;
    }
}