.phone-main-container p {
    font-family: var(--phone-font);
    letter-spacing: .05rem;
}

.phone-bluecase,
.network-bars,
.app-name {
    background-color: var(--counter-main-color);
}

.display-black,
.phone-bluecase {
    border-radius: .7rem;
}

.phone-bluecase,
.display-black {
    padding: .3rem;
}

.display-black {
    background: var(--strong-dark-color);
}

.top {
    border-radius: .7rem .7rem 0 0;
    background-color: var(--light-color);
    height: 55px;
    width: var(--max-width)
}

.notification-bar,
.bar-info,
.date-network,
.clock,
.network {
    display: flex
}

.bar-info {
    gap: 2rem;
}

.notification-bar {
    background-color: var(--soft-dark-color);
    justify-content: space-between;
    padding: .3rem;
}

.date-network,
.clock,
.network {
    align-items: last baseline;
}

.date-network,
.clock {
    gap: .8rem;
}

.network {
    gap: .2rem;
}

.network-bars {
    width: 5px;
}

.low-bar {
    height: 5px;
}

.medium-bar {
    height: 14px;
}

.high-bar {
    height: 21px;
}

.battery {
    align-items: flex-end;
    font-size: 1.3rem;
}

.app-name {
    padding: .1rem;
    justify-content: center;
}

.app-name p {
    font-size: 2.4rem;
    color: var(--strong-dark-color);
}

.main-screen {
    background: url(../images/ls-logo-opacity-0.3.png) center no-repeat;
    background-size: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.bottom,
.first-button,
.main-screen,
.button-icons {
    background-color: var(--soft-dark-color);
}

.bottom {
    padding: .3rem;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 .7rem .7rem;
}

.home-button {
    height: 50px;
    width: 50px;
    border: solid var(--light-color) 4px;
    border-radius: 50%;
}

.buttons {
    background-color: var(--strong-dark-color);
    padding: .2rem 0;
    gap: .1rem;
}

.first-button,
.button-icons {
    height: 30px;
    width: 33%;
}

.button-icons {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button:hover {
    transition: 0.4s ease-in-out;
    cursor: pointer;
    background-color: var(--counter-main-color);
    color: var(--light-color);
}

.app-text-container {
    flex-direction: column;
    align-items: center;
    gap: .4rem;
}

.app-icons-container {
    gap: .7rem;
}

.app-icon {
    font-size: 3rem;
    background-color: var(--counter-main-color);
    height: 70px;
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
    cursor: pointer;
}

.app-icon:hover {
    transition: 0.4s ease-in-out;
    background-color: var(--light-color);
    color: var(--soft-dark-color);
}