.phone-page {
    background-color: var(--light-color);
    min-height: 100vh;
}

.phone-page-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 5rem 1.4rem
}

.main-title,
.life-invader-type {
    font-size: 1.94rem;
    font-weight: var(--bold-font);
}

.main-title {
    line-height: 2.3rem;
}

.phone-page-text-container .los-santos {
    font-size: 2.76rem;
}

.final-line {
    font-size: 2.4rem;
}

.sponsorship {
    line-height: 1.7rem;
    margin-top: 1.6rem;
}

.life-invader-type span {
    font-weight: 300;
}