.program-iniciativas {
    background: var(--soft-dark-color) url(../images/1x/programas-bg-pattern.png) repeat center;
    background-size: cover;
}

.program-iniciativas-container {
    padding: 6rem 1.4rem
}

.program-text-container .title {
    font-size: 2.4rem;
    font-style: var(--italic-text);
    line-height: 2.2rem;
    font-weight: var(--bold-font);
}

.subtitle-icon {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.subtitle-icon .icon i,
.subtitle-icon .subtitle {
    color: var(--light-main-color);
}

.texts {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 2.5rem;
}

.pic-text .texts .icon {
    font-size: 3.5rem;
}

.texts .subtitle {
    font-size: 1.8rem;
    line-height: 2rem;
}

.text .description {
    font-style: var(--italic-text);
    width: 98%;
}