.services {
    background: url(../images/service-bg-datail-8.png) var(--light-main-color) no-repeat center;
    background-size: 1152px;
}

.maintitle .title {
    font-size: 3.3rem;
    line-height: 3.2rem;
}

.services-container .title,
.services-container .title span {
    font-weight: var(--black-bold-font);
    font-style: var(--italic-text);
}

.maintitle .title span {
    color: var(--soft-dark-color);
    font-size: 4.5rem;
}

.services-container {
    flex-direction: column-reverse;
    padding: 6rem 1.4rem;
}

.info-cards-container {
    margin-top: 2rem;
}

.cards {
    flex-direction: column;
    gap: .5rem;
}

@media(min-width: 350px) {
    .maintitle .title {
        font-size: 3.7rem;
        line-height: 3.7rem;
    }

    .maintitle .title span {
        color: var(--soft-dark-color);
        font-size: 5rem;
    }
}

@media(min-width: 420px) {
    .maintitle .title {
        font-size: 4.5rem;
        line-height: 4.2rem;
    }

    .maintitle .title span {
        font-size: 6rem;
    }
}

@media(min-width: 620px) {
    .maintitle .title {
        font-size: 6.4rem;
        line-height: 6.4rem;
    }

    .maintitle .title span {
        font-size: 8.7rem;
    }

    .services-container {
        padding: 8rem 2.7rem;
    }

    .cards {
        gap: 1rem;
    }

    .services {
        background-size: 1920px;
    }
}

@media(min-width: 920px) {

    .services-container {
        padding: 9rem 4.5rem
    }

    .maintitle .title {
        font-size: 9.4rem;
        line-height: 9rem;
    }

    .maintitle .title span {
        font-size: 12.7rem;
    }

    .cards {
        gap: 1.7rem;
    }
}