.services {
    background: url(../images/service-bg-datail-8.png) var(--light-main-color) no-repeat center;
    background-size: 1152px;
}

.maintitle .title {
    font-size: 3.3rem;
    line-height: 3.2rem;
}

.services-container .title,
.services-container .title span {
    font-weight: 900;
    font-style: var(--italic-text);
}

.maintitle .title span {
    color: var(--soft-dark-color);
    font-size: 4.5rem;
}

.services-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 6rem 1.4rem;
}

.info-cards-container {
    margin-top: 2rem;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}