.card .title-container {
    background-color: var(--light-color);
}

.title-container .subtitle {
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--strong-dark-color);
}

.description-container {
    background: var(--soft-dark-color) url(../images/stars-pattern.svg) center;
    background-size: 350px;
}

.title-container .subtitle,
.description-container .description {
    padding: .2rem .5rem;
}

.description-container .description {
    font-size: .7rem;
    width: 90%;
    font-style: var(--italic-text);
}